<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Row" data-toc-modified-id="Row-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Row</a></span></li><li><span><a href="#Colonnes" data-toc-modified-id="Colonnes-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Colonnes</a></span></li><li><span><a href="#expr" data-toc-modified-id="expr-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>expr</a></span></li><li><span><a href="#Transformations" data-toc-modified-id="Transformations-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Transformations</a></span><ul class="toc-item"><li><span><a href="#Projections" data-toc-modified-id="Projections-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Projections</a></span><ul class="toc-item"><li><span><a href="#selectExpr" data-toc-modified-id="selectExpr-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>selectExpr</a></span></li><li><span><a href="#drop" data-toc-modified-id="drop-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>drop</a></span></li><li><span><a href="#orderBy" data-toc-modified-id="orderBy-4.1.3"><span class="toc-item-num">4.1.3&nbsp;&nbsp;</span>orderBy</a></span></li></ul></li></ul></li></ul></div>

In [1]:
spark

25/09/16 15:07:57 WARN SQLConf: The SQL config 'spark.sql.execution.arrow.enabled' has been deprecated in Spark v3.0 and may be removed in the future. Use 'spark.sql.execution.arrow.pyspark.enabled' instead of it.
25/09/16 15:07:57 WARN SQLConf: The SQL config 'spark.sql.execution.arrow.enabled' has been deprecated in Spark v3.0 and may be removed in the future. Use 'spark.sql.execution.arrow.pyspark.enabled' instead of it.

In [2]:
from pyspark.sql.functions import *
from pyspark.sql.types     import StructType, \
     StructField, FloatType, \
     IntegerType, StringType

# Colonnes

<img src="https://raw.githubusercontent.com/rbizoi/AnalyserLesDonneesAvecSpark/main/DataFrameSpark/images/M06-01.png" width="400">

In [3]:
!ls -al donnees/meteo/2024

total 48332
drwxr-xr-x  2 spark hadoop    4096 sept. 16 14:32 .
drwxr-xr-x 32 spark hadoop    4096 sept. 16 14:33 ..
-rw-r--r--  1 spark hadoop 4164769 janv. 31  2024 synop.202401.csv
-rw-r--r--  1 spark hadoop 3865487 févr. 29  2024 synop.202402.csv
-rw-r--r--  1 spark hadoop 4229957 mars  31  2024 synop.202403.csv
-rw-r--r--  1 spark hadoop 4096596 avril 30  2024 synop.202404.csv
-rw-r--r--  1 spark hadoop 4270333 mai   31  2024 synop.202405.csv
-rw-r--r--  1 spark hadoop 4090948 juin  30  2024 synop.202406.csv
-rw-r--r--  1 spark hadoop 4191109 juil. 31  2024 synop.202407.csv
-rw-r--r--  1 spark hadoop 4201423 août  31  2024 synop.202408.csv
-rw-r--r--  1 spark hadoop 4047347 sept. 30  2024 synop.202409.csv
-rw-r--r--  1 spark hadoop 4125068 oct.  31  2024 synop.202410.csv
-rw-r--r--  1 spark hadoop 4009275 nov.  30  2024 synop.202411.csv
-rw-r--r--  1 spark hadoop 4168390 déc.  31  2024 synop.202412.csv

In [4]:
meteoDataFrame  = spark.read.format('csv')\
    .option('sep',';')\
    .option('header','true')\
    .option('nullValue','mq')\
    .option('inferSchema', 'true')\
    .load('donnees/meteo/2024/')\
    .cache()

25/09/16 15:08:03 WARN SQLConf: The SQL config 'spark.sql.execution.arrow.enabled' has been deprecated in Spark v3.0 and may be removed in the future. Use 'spark.sql.execution.arrow.pyspark.enabled' instead of it.
25/09/16 15:08:03 WARN SparkStringUtils: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [5]:
meteoDataFrame.printSchema()

root
 |-- numer_sta: integer (nullable = true)
 |-- date: long (nullable = true)
 |-- pmer: integer (nullable = true)
 |-- tend: integer (nullable = true)
 |-- cod_tend: integer (nullable = true)
 |-- dd: integer (nullable = true)
 |-- ff: double (nullable = true)
 |-- t: double (nullable = true)
 |-- td: double (nullable = true)
 |-- u: integer (nullable = true)
 |-- vv: integer (nullable = true)
 |-- ww: integer (nullable = true)
 |-- w1: integer (nullable = true)
 |-- w2: integer (nullable = true)
 |-- n: integer (nullable = true)
 |-- nbas: integer (nullable = true)
 |-- hbas: integer (nullable = true)
 |-- cl: integer (nullable = true)
 |-- cm: integer (nullable = true)
 |-- ch: integer (nullable = true)
 |-- pres: integer (nullable = true)
 |-- niv_bar: integer (nullable = true)
 |-- geop: integer (nullable = true)
 |-- tend24: integer (nullable = true)
 |-- tn12: double (nullable = true)
 |-- tn24: double (nullable = true)
 |-- tx12: double (nullable = true)
 |-- tx24: double (nullable = true)
 |-- tminsol: double (nullable = true)
 |-- sw: string (nullable = true)
 |-- tw: string (nullable = true)
 |-- raf10: double (nullable = true)
 |-- rafper: double (nullable = true)
 |-- per: integer (nullable = true)
 |-- etat_sol: integer (nullable = true)
 |-- ht_neige: double (nullable = true)
 |-- ssfrai: double (nullable = true)
 |-- perssfrai: integer (nullable = true)
 |-- rr1: double (nullable = true)
 |-- rr3: double (nullable = true)
 |-- rr6: double (nullable = true)
 |-- rr12: double (nullable = true)
 |-- rr24: double (nullable = true)
 |-- phenspe1: string (nullable = true)
 |-- phenspe2: string (nullable = true)
 |-- phenspe3: string (nullable = true)
 |-- phenspe4: string (nullable = true)
 |-- nnuage1: integer (nullable = true)
 |-- ctype1: integer (nullable = true)
 |-- hnuage1: integer (nullable = true)
 |-- nnuage2: integer (nullable = true)
 |-- ctype2: integer (nullable = true)
 |-- hnuage2: integer (nullable = true)
 |-- nnuage3: integer (nullable = true)
 |-- ctype3: integer (nullable = true)
 |-- hnuage3: integer (nullable = true)
 |-- nnuage4: integer (nullable = true)
 |-- ctype4: integer (nullable = true)
 |-- hnuage4: integer (nullable = true)
 |-- _c59: string (nullable = true)

In [6]:
len(meteoDataFrame.columns), meteoDataFrame.columns

(60,
 ['numer_sta',
  'date',
  'pmer',
  'tend',
  'cod_tend',
  'dd',
  'ff',
  't',
  'td',
  'u',
  'vv',
  'ww',
  'w1',
  'w2',
  'n',
  'nbas',
  'hbas',
  'cl',
  'cm',
  'ch',
  'pres',
  'niv_bar',
  'geop',
  'tend24',
  'tn12',
  'tn24',
  'tx12',
  'tx24',
  'tminsol',
  'sw',
  'tw',
  'raf10',
  'rafper',
  'per',
  'etat_sol',
  'ht_neige',
  'ssfrai',
  'perssfrai',
  'rr1',
  'rr3',
  'rr6',
  'rr12',
  'rr24',
  'phenspe1',
  'phenspe2',
  'phenspe3',
  'phenspe4',
  'nnuage1',
  'ctype1',
  'hnuage1',
  'nnuage2',
  'ctype2',
  'hnuage2',
  'nnuage3',
  'ctype3',
  'hnuage3',
  'nnuage4',
  'ctype4',
  'hnuage4',
  '_c59'])

In [7]:
meteoDataFrame.select('numer_sta',"date","t").show(3)

[Stage 2:>                                                          (0 + 1) / 1]

+---------+--------------+------+
|numer_sta|          date|     t|
+---------+--------------+------+
|     7005|20240501000000|286.25|
|     7015|20240501000000|287.65|
|     7020|20240501000000|281.95|
+---------+--------------+------+
only showing top 3 rows

In [8]:
meteoDataFrame.numer_sta,meteoDataFrame["numer_sta"],meteoDataFrame.t

(Column<'numer_sta'>, Column<'numer_sta'>, Column<'t'>)

# expr
La fonction permet d’écrire directement une expression qui est exécutée pour l’ensemble des lignes.

In [9]:
meteoDataFrame.select('numer_sta',
                      expr('t  - 273.15').alias('temperature'),
                      expr('(t + pres/100)*vv/100').alias('calc')
        ).show(3)

+---------+------------------+----------+
|numer_sta|       temperature|      calc|
+---------+------------------+----------+
|     7005|13.100000000000023|  182832.1|
|     7015|              14.5|207307.975|
|     7020| 8.800000000000011|      NULL|
+---------+------------------+----------+
only showing top 3 rows

# Transformations

<img src="https://raw.githubusercontent.com/rbizoi/AnalyserLesDonneesAvecSpark/main/DataFrameSpark/images/M06-02.png" width="400"> 

## Projections

In [10]:
schema = StructType([
        StructField('Id'           , StringType() , True),
        StructField('ville'        , StringType() , True),
        StructField('latitude'     , FloatType() , True),
        StructField('longitude'    , FloatType() , True),
        StructField('altitude'     , IntegerType() , True)])

villes  = spark.read.format('csv')   \
      .option('sep',';')                \
      .option('mergeSchema', 'true')    \
      .option('header','true')          \
      .schema(schema)                   \
      .load('donnees/postesSynop.csv')  \
      .cache()

@udf("string")
def formatVille(ville):
    if ville in ['CLERMONT-FD','MONT-DE-MARSAN',
                                   'ST-PIERRE','ST-BARTHELEMY METEO'] :
        return ville.title()
    else :
        if ville.find('-') != -1 :
            return ville[0:ville.find('-')].title()
        else:
            return ville.title()

villesT  = villes.select(
                col('Id').alias('id'),
                formatVille('ville').alias('ville'),
               'latitude',
               'longitude',
               'altitude')

25/09/16 15:08:05 WARN SQLConf: The SQL config 'spark.sql.execution.arrow.enabled' has been deprecated in Spark v3.0 and may be removed in the future. Use 'spark.sql.execution.arrow.pyspark.enabled' instead of it.

### selectExpr

In [11]:
villes.selectExpr('*','altitude * 1000 as alt').show(3)

+-----+---------------+---------+---------+--------+-----+
|   Id|          ville| latitude|longitude|altitude|  alt|
+-----+---------------+---------+---------+--------+-----+
|07005|      ABBEVILLE|   50.136|    1.834|      69|69000|
|07015|  LILLE-LESQUIN|    50.57|   3.0975|      47|47000|
|07020|PTE DE LA HAGUE|49.725166|-1.939833|       6| 6000|
+-----+---------------+---------+---------+--------+-----+
only showing top 3 rows

In [12]:
villesT.selectExpr('*','altitude * 1000 as alt').show(3)

[Stage 5:>                                                          (0 + 1) / 1]

+-----+---------------+---------+---------+--------+-----+
|   id|          ville| latitude|longitude|altitude|  alt|
+-----+---------------+---------+---------+--------+-----+
|07005|      Abbeville|   50.136|    1.834|      69|69000|
|07015|          Lille|    50.57|   3.0975|      47|47000|
|07020|Pte De La Hague|49.725166|-1.939833|       6| 6000|
+-----+---------------+---------+---------+--------+-----+
only showing top 3 rows

In [13]:
villes.drop('Id', 'latitude', 'longitude').show(3)

+---------------+--------+
|          ville|altitude|
+---------------+--------+
|      ABBEVILLE|      69|
|  LILLE-LESQUIN|      47|
|PTE DE LA HAGUE|       6|
+---------------+--------+
only showing top 3 rows

### drop

In [14]:
villes.drop('Id', 'latitude', 'longitude')\
       .orderBy('ville').show(5)

+-------------+--------+
|        ville|altitude|
+-------------+--------+
|    ABBEVILLE|      69|
|      AJACCIO|       5|
|      ALENCON|     143|
|BALE-MULHOUSE|     263|
|       BASTIA|      10|
+-------------+--------+
only showing top 5 rows

In [15]:
villes.drop('Id', 'latitude', 'longitude')\
       .orderBy(desc('altitude')).show(5)

+------------------+--------+
|             ville|altitude|
+------------------+--------+
|            EMBRUN|     871|
|     LE PUY-LOUDES|     833|
|            MILLAU|     712|
|         ST GIRONS|     414|
|LIMOGES-BELLEGARDE|     402|
+------------------+--------+
only showing top 5 rows

In [16]:
meteo = meteoDataFrame.select(
                 col('numer_sta'),
                 col('date')[0:4].cast('int') ,
                 col('date')[5:2].cast('int'),
                 col('date')[7:2].cast('int'),
                 col('date')[5:4],
                 round(col('t') - 273.15,2),
                 col('u') / 100 ,
                 col('vv') / 1000 ,
                 col('pres') / 1000,
                 coalesce( col('rr3'),
                           col('rr24')/8,
                           col('rr12')/4,
                           col('rr6')/2,
                           col('rr1')*3  ) )\
             .toDF('id','annee','mois','jour','mois_jour','temperature',
                   'humidite','visibilite','pression','precipitations')\
             .cache()

25/09/16 15:08:07 WARN SQLConf: The SQL config 'spark.sql.execution.arrow.enabled' has been deprecated in Spark v3.0 and may be removed in the future. Use 'spark.sql.execution.arrow.pyspark.enabled' instead of it.

### orderBy

In [17]:
meteo.where('id < 8000')\
      .select ('id','annee','mois','jour','temperature')\
      .orderBy( 'id','annee','mois','jour','temperature',
                ascending=[1,0,0,0,1])\
      .show(5)

[Stage 9:=============================>                             (1 + 1) / 2]

+----+-----+----+----+-----------+
|  id|annee|mois|jour|temperature|
+----+-----+----+----+-----------+
|7005| 2024|  12|  31|        1.9|
|7005| 2024|  12|  31|        2.3|
|7005| 2024|  12|  31|        2.9|
|7005| 2024|  12|  31|        3.4|
|7005| 2024|  12|  31|        5.8|
+----+-----+----+----+-----------+
only showing top 5 rows

In [18]:
meteo.where('id < 8000')\
     .select('annee','mois_jour',
             'temperature')\
     .describe().show(20)

[Stage 10:=============================>                            (1 + 1) / 2]

+-------+--------------------+-----------------+-----------------+
|summary|               annee|        mois_jour|      temperature|
+-------+--------------------+-----------------+-----------------+
|  count|              122295|           122295|           119253|
|   mean|              2024.0|667.2831841040108|13.31191835844796|
| stddev|1.136676643633269...| 345.406742820554|6.834882732270117|
|    min|                2024|             0101|            -12.1|
|    max|                2024|             1231|             38.7|
+-------+--------------------+-----------------+-----------------+

In [19]:
meteo.count(), meteo.sample(withReplacement=True, fraction=0.01, seed=123456).count()

(176468, 1840)

In [20]:
meteo.sample(True,1/100).count()

1730

In [21]:
meteo.sample(1/100).count()

1720